body{
    background-color: grey;
}
div{
    text-align: center;
}
.inputs{
    margin-bottom: 15px;
    border: none;
    padding: 5px;
}
#result{
    color: green;
    font-size: 25px;
    
}
#error{
    color: red;
    font-size: 25px;
    
}
#btn{
    color: rgb(235, 159, 18);
    font-weight: bold;
}






